<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/6c1556e896.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>   
    </div>
    
    <div class="box">
    
     
        <% for( let i = 0; i<newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
        <% } %>
        
       

    </div>
    <form class="box  difuminado" action="/" method="post">
        <input type="text" class="difuminado" placeholder="New Item" name="newItem" autofocus autocomplete="off">
        <button type="submit"><i class="fa-solid fa-plus fa-sm"></i></button>
    </form>

    <footer>
        <p>Made with <i class="fa-solid fa-heart fa-2xs"></i> by Ricardo Nava <br>
        <a href="https://www.linkedin.com/in/ricardonavamtz/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="https://github.com/RichyNavaMtz"><i class="fa-brands fa-github fa-xl"></i></a>
        </p>
    </footer>

</body>
</html>